@use "../core/config" as cn;
@use "../core/mixins" as br;



@each $d in cn.$display_options {
  .d-#{$d} {
    display: $d;
  }
}

@each $bp, $width in cn.$breakpoints {
  @if $bp != xs {
    @include br.breakpoint($width) {
      @each $d in cn.$display_options {
        .d-#{$bp}-#{$d} {
          display: $d;
        }
      }
    }
  }
}
