@use "../core/config" as cn;
@use "../core/mixins" as br;

@each $size, $value in cn.$spacers {
  .m-#{$size}   { margin: $value; }
  .mt-#{$size}  { margin-top: $value; }
  .mb-#{$size}  { margin-bottom: $value; }
  .ml-#{$size}  { margin-left: $value; }
  .mr-#{$size}  { margin-right: $value; }
  .mx-#{$size}  { margin-inline: $value; }
  .my-#{$size}  { margin-block: $value; }

  .p-#{$size}   { padding: $value; }
  .pt-#{$size}  { padding-top: $value; }
  .pb-#{$size}  { padding-bottom: $value; }
  .pl-#{$size}  { padding-left: $value; }
  .pr-#{$size}  { padding-right: $value; }
  .px-#{$size}  { padding-inline: $value; }
  .py-#{$size}  { padding-block: $value; }

  .g-#{$size}  { gap: $value; }
  .gc-#{$size}  { column-gap: $value; }
  .gr-#{$size}  { row-gap: $value; }

  @each $bp, $width in cn.$breakpoints {
    @if $bp != xs {
      @include br.breakpoint($width) {
        .m-#{$bp}-#{$size}   { margin: $value; }
        .mt-#{$bp}-#{$size}  { margin-top: $value; }
        .mb-#{$bp}-#{$size}  { margin-bottom: $value; }
        .ml-#{$bp}-#{$size}  { margin-left: $value; }
        .mr-#{$bp}-#{$size}  { margin-right: $value; }
        .mx-#{$bp}-#{$size}  { margin-inline: $value; }
        .my-#{$bp}-#{$size}  { margin-block: $value; }

        .p-#{$bp}-#{$size}   { padding: $value; }
        .pt-#{$bp}-#{$size}  { padding-top: $value; }
        .pb-#{$bp}-#{$size}  { padding-bottom: $value; }
        .pl-#{$bp}-#{$size}  { padding-left: $value; }
        .pr-#{$bp}-#{$size}  { padding-right: $value; }
        .px-#{$bp}-#{$size}  { padding-inline: $value; }
        .py-#{$bp}-#{$size}  { padding-block: $value; }

        .g-#{$bp}-#{$size}  { gap: $value; }
        .gc-#{$bp}-#{$size}  { column-gap: $value; }
        .gr-#{$bp}-#{$size}  { row-gap: $value; }
      }
    }
  }
}
