.text-start   { text-align: start; }
.text-center  { text-align: center; }
.text-end     { text-align: end; }
.text-uppercase { text-transform: uppercase; }
.text-lowercase { text-transform: lowercase; }
.text-capitalize { text-transform: capitalize; }
