$screen-widths: 576px, 768px, 992px, 1200px;

$col-padding: 15px;

$container-widths: (
  "-sm": 540px,
  "-md": 720px,
  "-lg": 960px,
  "-xl": 1140px,
) !default;

$col-count: 12;

$breakpoints: (
  "-sm": 576px,
  "-md": 768px,
  "-lg": 992px,
  "-xl": 1200px,
) !default;

$sizes: "", "-sm", "-md", "-lg", "-xl";
