@mixin margin($count) {
  @for $i from 1 through $count {
    .mt-#{$i} {
      margin-top: space($i) !important;
    }
    .mb-#{$i} {
      margin-bottom: space($i) !important;
    }
    .mr-#{$i} {
      margin-right: space($i) !important;
    }
    .ml-#{$i} {
      margin-left: space($i) !important;
    }
    .mx-#{$i} {
      margin-left: space($i) !important;
      margin-right: space($i) !important;
    }
    .my-#{$i} {
      margin-top: space($i) !important;
      margin-bottom: space($i) !important;
    }
    .m-#{$i} {
      margin: space($i) !important;
    }
  }
}
