[class^="col-"] {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@for $i from 1 through $col-count {
  .col-#{$i} {
    flex: 0 0 col-percent($i);
    max-width: col-percent($i);
  }
}
@each $name, $width in $breakpoints {
  @include breakpoint-min($width) {
    @for $i from 1 through $col-count {
      .col#{$name}-#{$i} {
        flex: 0 0 col-percent($i);
        max-width: col-percent($i);
      }
    }
  }
}
