.container,
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@each $name, $width in $breakpoints {
  @include breakpoint-min($width) {
    .container {
      max-width: map-get($container-widths, $name);
    }
  }
}
