.justify-center {
  justify-content: center !important;
}
.justify-start {
  justify-content: start !important;
}
.justify-end {
  justify-content: end !important;
}
.justify-between {
  justify-content: space-between !important;
}
.justify-around {
  justify-content: space-around !important;
}
.justify-evenly {
  justify-content: space-evenly !important;
}

.align-center {
  align-items: center !important;
}
.align-start {
  align-items: start !important;
}
.align-end {
  align-items: end !important;
}
.align-baseline {
  align-items: baseline !important;
}
.align-stretch {
  align-items: stretch !important;
}

.wrap {
  flex-wrap: wrap !important;
}
